spring:
  application:
    name: PasswordManager
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update

server:
  servlet:
    session:
      timeout: 20m