.verification-modal{
    position: fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    background-color: darkgray;
    color: beige;
    text-align: center;
    padding: 2%;
    border-radius: 5% 15% 8% 40%;
    width: 350px;
    height: 200px;
    z-index: 10;
}

.blur-body::before{
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 5;
}
.modal-header{
    text-align: end;
}
.modal-body{
    text-align: left;
}
.modal-footer{
    text-align: center;
}