html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 30px;
    text-align: center;
    background: #E1D7B7;
    padding: 15px;
    border-radius: 15px;
    color: #1E2A5E;
    border: solid 2px black;
    max-width: 550px;
}
form{
    width: 100%;
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
}
form label{
    width: 100%;
}
form input{
    background: #7C93C3;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
    color: #1E2A5E;
}
form textarea{
    min-width: 200px;
    width: 5%;
    background: #7C93C3;
    border-radius: 15px;
    padding: 10px;
}
::placeholder {
    color: #1E2A5E;
    opacity: 1;
}

form button{
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: #7C93C3;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
}
.buttons{
    grid-column: 1/span 2;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    flex-direction: row;
    gap: inherit;
}