<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/passwordList.css}">
    <link rel="stylesheet" th:href="@{/css/access-unlock.css}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/access-unlock :: #verificationOverlay}"></div>
<div class="container">
    <h2>Your Passwords</h2>
    <table th:replace="~{/fragments/password-table :: table}"></table>
</div>
<script th:src="@{/js/password-list.js}"></script>
<script th:src="@{/js/access-unlock.js}"></script>
</body>
</html>
